	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<div class="col-md-12">
				<ul class="breadcrumb-tree">
					<li>
						<a href="{{path('index')}}">Home</a>
					</li>
					{% if category_parent_data['id'] is defined and category_parent_data['id'] is null  %}
						<li class="active">
							All Categories ({{ category_parent_data['count'] }} Results) 
						</li>
					{% elseif category_parent_data[0]['COUNT_CATEGORY_BY_FILTER'] is defined and category_parent_data[0]['COUNT_CATEGORY_BY_FILTER'] is not  null %}
						<li>
							<a href="{{ path('app_product_by_category') }}">All Categories</a>
						</li>
						<li class="active">
							All Selected Categories ({{ category_parent_data[0]['COUNT_CATEGORY_BY_FILTER'] }} Results) 
						</li>
					{% else %}
						<li>
							<a href="{{ path('app_product_by_category') }}">All Categories
							</a>
						</li>
						<li class="active"> 
							{{ category_parent_data[0]['name'] }} ({{ category_parent_data[0]['COUNT_BY_PARENT']  }} Results) 
						</li>	
					{% endif %}
				</ul>
			</div>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->



