
{# Plantilla que se encarga de crear el row del carrito en template index de carrito #}
<div id="error-message-flash">

</div>

{% block cart_icon %}
    {% if cart.total_items != 0 %}
		{% for key, item in cart.contents %}
		<div class="row">
			<!-- product -->
			<div class="col-md-2 col-xs-2">
				<img src="{{ asset('img/' ~ item.images[0]) }}" alt="" width="150" height="150">
			</div>
			<div class="col-md-6 col-xs-6">
				<div class="col-md-12">
					<div>
						<h4> <a href=" {{ path('app_product_show', {'id': item.id}) }} "> {{ item.name }} x {{ item.qty }}</a> </h4>  
					</div>
					<div>
						<h5>Description</h5>
						<p> {{ item.description }} </p>
					</div>
				</div>
			</div>
			{# Comandos de Cart #}
			<div class="col-md-2 col-xs-2">
				<div class="delete-to-cart">
					{# <a href="" class="primary-btn" id="{{ 'delete-' ~ key  }}" > Delete </a> #}
					<button class="primary-btn" id="{{ 'delete-' ~ key  }}">Delete</button>
				</div>
			</div>
			<div class="col-md-2 col-xs-2">
				{# <div id="price-slider"></div> #}
				<div class="input-number price-min">
					<input id="price-min" type="number" min="" value="{{ item.qty }}">
					<span class="qty-up">+</span>
					<span class="qty-down">-</span>
				</div>

				<h4 class="product-price">$ {{ item.saleprice }}</h4>
				<del class="product-old-price"> $ {{ item.price }} </del>
			</div>
			<!-- /product -->
		</div>
		<hr>
	{% endfor %}
	<div class="row">
	<div class="total-cart">
		<h3>Total: $ {{ cart.total }} </h3>
	</div>
</div>

{% else %}
	

{% endif %}
{% endblock %}



	<div hidden id="_hidden-cart-icon-delete">
		{{render(controller("App\\Controller\\ProductController::cartIcon"))}}
	</div>

	<div hidden id="_hidden-breadcum-cart">
		{{render(controller("App\\Controller\\ProductController::updateBreadcumCart"))}}
	</div>    




<div hidden id="item-delete-alert">
	<div class="alert alert-danger">
		<div class="container">
			{% if messages is defined %}
				{% for message in messages %}
					{{ message }}
				{% endfor %}
			{% endif %}
		</div>		
	</div>
</div>
