{# Archivo encargado de actualizar el icono de carrito #}
{% block cart %}
	<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="">
		<i class="fa fa-shopping-cart"></i>
		<span>Your Cart</span>
		{% if cart is null %}
			<div class="qty">0</div>
		{% else %}
			<div class="qty"> {{ cart.total_items }}</div>
		{% endif %}
	</a>
	{% if cart.total_items > 0 %}
		<div class="cart-dropdown">
			<div class="cart-list">
				{# {{ dump(cart.contents) }} #}
				{% for key, item in cart.contents %}
					{# Product Widget #}
					<div class="product-widget">
						<div class="product-img">
							<img src="{{ asset("/img/" ~ item.images[0]) }}" alt="">
						</div>
						<div class="product-body">
							<h3 class="product-name"><a href="#">{{ item.name }} </a></h3>
							<h4 class="product-price"><span class="qty">{{ item.qty }}x</span> $ {{ item.saleprice }}</h4> <del class="product-old-price"> $ {{ item.price }}</del>
						</div>
						<div class="delete-to-cart-icon">
							<button class="delete" id={{ "delete-cart-icon-item-" ~ key }}><i class="fa fa-close"></i></button>
						</div>
					</div>
					{# Product Widget #}
				{% endfor %}
			</div>
			<div class="cart-summary">
				<small> {{ cart.total_items }} Item(s) selected</small>
				<h5>SUBTOTAL: $ {{ cart.total }}</h5>
			</div>
			<div class="cart-btns">
				<a href="{{ path('cart') }}">View Cart</a>
				<a href="{{ path('app_check_out') }}">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>
	{% endif %}
{% endblock %}