<!-- store top filter -->
{# <div class="store-filter clearfix">
	<div class="store-sort">
		<label>
			Sort By:
			<select class="input-select">
				<option value="0">Popular</option>
				<option value="1">Position</option>
			</select>
		</label>

		<label>
			Show:
			<select class="input-select">
				<option value="0">20</option>
				<option value="1">50</option>
			</select>
		</label>
	</div>
	<ul class="store-grid">
		<li class="active"><i class="fa fa-th"></i></li>
		<li><a href="#"><i class="fa fa-th-list"></i></a></li>
	</ul>
</div> #}
<!-- /store top filter -->

<!-- store products -->
<div class="row">
	{% set showing = 0 %}
		{% for product in products %}
			<!-- product -->
			<div class="col-md-4 col-xs-6">
				<div class="product">
					<div class="product-img">
						<img src={{asset("img/" ~ product.images[0] )}} alt="">
						<div class="product-label">
							{% if product.sales %}
								<span class="new">SALE</span>
								<span class="sale">-{{ product.sales }}</span>
							{% endif %}
							{% if product.isNew %}
								<span class="new">NEW</span>
							{% endif %}
						</div>
					</div>
					<div class="product-body">
						<p class="product-category"> {{ product.category.name }} </p>
						<h3 class="product-name"><a href="{{ path('app_product_show', {'id': product.id}) }}"> {{ product.name }} </a></h3>
						{% if product.sales %}
							{% set sale_price = (product.sales * product.price) / 100  %}
								{% set newprice = product.price - sale_price  %}
									<h4 class="product-price">$ {{ newprice|round(2,'floor')}} <del class="product-old-price"> $ {{ product.price|round(2,'floor') }} </del></h4>
								{% elseif product.sales == 0 %}
									<h4 class="product-price">$ {{ product.price }}</h4>
								{% endif %}

								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
								</div>
							</div>
							<div class="add-to-cart" id="add-to-cart">
								<button class="add-to-cart-btn" id="{{ 'btn-' ~ product.id }}"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<!-- /product -->
					{% set showing = showing + 1 %}
					{% endfor %}

					<div class="clearfix visible-sm visible-xs"></div>

				</div>
				<!-- /store products -->
				<!-- store bottom filter -->
				<div class="store-filter clearfix" id="store-filter-aside">
					<span class="store-qty">Page {{ page }}  - Showing {{ showing }} of {{ total_register }} products</span>
					<ul class="store-pagination">
						{% for i in 1..count_pages %}
							{% if page == i  %}
								<li class="active" id="{{ 'page-aside-' ~ i }}"> {{ i }}</li>
							{% endif %}

							{% if  page != i %}
								<li><a href="#" target="_self" id="{{ 'page-aside-' ~ i }}"> {{ i }}</a></li>
							{% endif %}
						{% endfor %}
						{% if page == count_pages %}
							<li><a href="#" id="{{ 'page-aside-' ~ count_pages }}" target="_self"><i class="fa fa-angle-right"></i></a></li>
						{% else %}
							{% set n = page + 1 %}
								<li><a href="#" id="{{ 'page-aside-' ~ n }}" target="_self"><i class="fa fa-angle-right"></i></a></li>
							{% endif %}		
						</ul>
					</div>
					
					{# Renderiza breadcum cuando filtramos por ajax #}
					<div hidden id="_hidden-breadcum">
						{{render(controller('App\\Controller\\StoreController::loadBreadcumStore', {category_parent_data: category_parent_data}))}}
					</div>

				<!-- /store bottom filter -->