<!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li class="active"><a href="{{path('index')}}">Home</a></li>
                    <li><a href="#">Hot Deals</a></li>
                    <li><a href="{{ path('app_product_by_category') }}">Categories</a></li>
                    {% for category in categorys %}
                         <li><a href="{{ path('app_product_by_category', {id: category.id}) }}"> {{ category.name }} </a></li>
                    {% endfor %}
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->