{# {% for item in cart.contents %} #}
<div class="order-summary">
	<div class="order-col">
		<div><strong>PRODUCT</strong></div>
		<div><strong>TOTAL</strong></div>
	</div>
	{# {{ dump(cart.contents) }} #}
	<div class="order-products">
		{% for item in cart.contents %}
			<div class="order-col">
				{# <div>1x Product Name Goes Here</div> #}
				<div>{{ item.qty }} x {{ item.name }}</div>
				<div> 
					<h5>${{ item.saleprice }}</h5>
					<del class="product-old-price"> ${{ item.price }} </del>   
				</div>
			</div>
		{% endfor %}

	</div>
	<div class="order-col">
		<div>Shiping</div>
		<div><strong>FREE</strong></div>
	</div>
	<div class="order-col">
		<div><strong>TOTAL</strong></div>
		<div><strong id="order-total" class="order-total">${{ cart.total }}</strong></div>
	</div>
</div>

{# {% endfor %} #}