{# Resultado busqueda #}
<div class="register-data">
	Page: {{ object.pagination_object.getPage }} of {{ object.pagination_object.getCountPages }}  - Total Register: {{ object.pagination_object.getTotalRegister }}
</div>
{# Resultado busqueda #}

{# Paginador #}
<nav aria-label="Page navigation">
	<ul class="pagination">
		<li>
			{# Boton de retoceso #}
			{% if object.pagination_object.getPage == 1 %}
				{% if search is defined %}
					<a href="{{ path(route_controller, {page: 1, search: search}) }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				{% else %}
					<a href="{{ path(route_controller, {page: 1}) }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				{% endif %}
			{% else %}
				{% if search is defined %}
					<a href="{{ path(route_controller, {page: object.pagination_object.getPage - 1, search: search}) }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				{% else %}
					<a href="{{ path(route_controller, {page: object.pagination_object.getPage - 1}) }}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				{% endif %}
			{% endif %}	

		</li>
		{% for i in 1..object.pagination_object.getCountPages %}
			{% if search is defined %}
				<li><a href="{{ path(route_controller, {page: i, search: search}) }}">{{ i }}</a></li>	
			{% else %}
				<li><a href="{{ path(route_controller, {page: i}) }}">{{ i }}</a></li>
			{% endif %}
		{% endfor %}
		<li>

			{# Boton de Avance #}
			{% if object.pagination_object.getPage == object.pagination_object.getCountPages  %}
				{% if search is defined %}
					<a href="{{ path(route_controller, {page: object.pagination_object.getCountPages, search: search}) }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				{% else %}
					<a href="{{ path(route_controller, {page: object.pagination_object.getCountPages}) }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				{% endif %}
			{% else %}
				{% if search is defined %}
					<a href="{{ path(route_controller, {page: object.pagination_object.getPage + 1, search: search}) }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				{% else %}
					<a href="{{ path(route_controller, {page: object.pagination_object.getPage + 1}) }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				{% endif %}
			{% endif %}
		</li>
	</ul>
</nav>
{# Paginador #}