<div class="col-md-12">
	<div class="col-md-6">
		<div class="row">
			<h4>Payment Detail</h4>
			<div class="form-group">
				<div id="id"></div>
			</div>
			<div class="form-group">
				<div id="status"></div>
			</div>
			<div class="form-group">
				<div id="status_details"></div>
			</div>
		</div>
		<hr>
		<div class="row">
			<h4>Order Information</h4>
			<div class="form-group">
				<div id="full_name"></div>
			</div>
			<div class="form-group">
				<div id="address"></div>
			</div>
			<div class="form-group">
				<div id="email"></div>
			</div>
			<div class="form-group">
				<div id="telephone"></div>
			</div>
			<div class="form-group">
				<div id="city"></div>
			</div>
			<div class="form-group"> 
				<div id="zip_code"></div>
			</div>
			<div class="form-group"> 
				<div id="other_comment"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6 order-details" id="details-payment">

	</div>
</div>