  <!-- SEARCH BAR -->
  <div class="col-md-6">
    <div class="header-search">
        <form>
            <select class="input-select">
                <option value="0">All Categories</option>
                {% if categorys is defined %}
                    {% for category in categorys %}
                        <option value=" {{ category.id }}"> {{ category.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <input class="input" placeholder="Search here"> 
            <button class="search-btn">Search</button>
        </form>
    </div>
</div>
            <!-- /SEARCH BAR -->