<div class="row">
	<div class="col-md-8">
		{{ form_start(form) }}
			<div class="form-group">
				{{ form_row(form.email) }}
			</div>
			<div class="form-group">
				{{ form_row(form.password) }}
			</div>
			<div class="form-group">
				{{ form_row(form.roles) }}
			</div>
			<div class="form-group">
				{{ form_row(form.save) }}
			</div>

		{{ form_end(form) }}
	</div>
</div>