{% block section_container %}
	<div class="message col-md-12">
		Cart is Empty!
	</div>
{% endblock %}

<div hidden id="_hidden-cart-icon-delete">
	{{render(controller("App\\Controller\\ProductController::cartIcon"))}}
</div>

<div hidden id="_hidden-breadcum-cart">
	{{render(controller("App\\Controller\\ProductController::updateBreadcumCart"))}}
</div>  