{% extends 'base.html.twig' %}
{% block breadcum %}
	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header">{% if cart is defined %} Products Cart ({{ cart.total_items}}) {% else %} EMPTY CART{% endif %}  </h3>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->
{% endblock %}

{% block section_container %}
	{# {{ dump(cart.contents) }} #}
	{% if cart is defined %}
		{% for key, item in cart.contents %}
			<div class="row">
				<!-- product -->
				<div class="col-md-2 col-xs-2">
					<img src="{{ asset('img/' ~ item.images[0]) }}" alt="" width="150" height="150">
				</div>
				<div class="col-md-6 col-xs-6">
					<div class="col-md-12">
						<div>
							<h4><a href=" {{ path('app_product_show', {'id': item.id}) }} "> {{ item.name }} x {{ item.qty }}</a> </h4>  
						</div>
						<div>
							<h5>Description</h5>
							<p> {{ item.description }} </p>
						</div>
					</div>
				</div>
				{# Comandos de Cart #}
				<div class="col-md-2 col-xs-2">
					<div class="delete-to-cart">
						{# <a href="" class="primary-btn" id="{{ 'delete-' ~ key  }}" > Delete </a> #}
						<button class="primary-btn" id="{{ 'delete-' ~ key  }}">Delete</button>
					</div>
				</div>
				<div class="col-md-2 col-xs-2">
					{# <div id="price-slider"></div> #}
					<div class="input-number price-min">
						<input id="price-min" type="number" min="1" value="{{ cart.get_item(key)['qty'] }}">
						<span class="qty-up">+</span>
						<span class="qty-down">-</span>
					</div>

					<h4 class="product-price">$ {{ item.saleprice }}</h4>
					<del class="product-old-price"> $ {{ item.price }} </del>

				</div>
				<!-- /product -->
			</div>
			<hr>
		{% endfor %}
		<div class="">
			<div class="total-cart">
				<h3>Total: $ {{ cart.total }} </h3>
			</div>
		</div>
	{% else %}
		<div class="col-md-12">
		<div class="message">
			Cart is Empty! <span> <i class="fa fa-shopping-cart"></i></span>
		</div>
		</div>
	{% endif %}
{% endblock %}