{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

    {% block header %}
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="{{path('index')}}" class="logo">
                                <img src="./img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    {% endblock %}

    {% block navigation %}{% endblock %}

        {% block breadcum %}{% endblock %}

            {% block newsletter %}{% endblock %}

                {% block section_container %}
                    <div  class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <form method="post">
                                    <div class="row">
                                       {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    {% if app.user %}
                                        <div class="mb-3">
                                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                        </div>
                                    {% endif %}

                                    <h3 class="title">Please sign in</h3>
                                    <div class="form-group">
                                       <label for="inputEmail">Email</label>
                                       <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input" autocomplete="email" required autofocus>
                                   </div>

                                   <div class="form-group">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" name="password" id="inputPassword" class="input" autocomplete="current-password" required>
                                </div>


                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate')}}">

                                <div class="form-group checkbox mb-3">
                                 
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <a href="{{path('app_forgot_password_request')}}">Forgot your password?</a>
                                    </div>

                                    <div class="col-md-6">
                                        <a href="{{path('app_register')}}">New? Create Account</a>
                                    </div>  
                                </div>
                                <div class="row">
                                    <div class="col">
                                       <button class="primary-btn order-submit" type="submit">Sign in </button>
                                   </div>
                               </div>
                           </div>
                       </form>
                   </div>
               </div>
           </div>

       {% endblock %}
