{% extends 'base.html.twig' %}

{% block header %}
	<!-- MAIN HEADER -->
	<div id="header">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- LOGO -->
				<div class="col-md-3">
					<div class="header-logo">
						<a href="{{path('index')}}" class="logo">
							<img src="./img/logo.png" alt="">
						</a>
					</div>
				</div>
				<!-- /LOGO -->
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!-- /MAIN HEADER -->
{% endblock %}

{% block navigation %}
{% endblock %}

{% block breadcum %}
{% endblock %}

{% block section_container %}
	{% if errors is defined and errors is not empty %}
		<ul>
			{% for error in errors %}
				<li>{{ error.message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	<h3 class="title">Personal Information</h3>
	{{form_start(form)}}
	<div class="row">
		<div class="col-md-6">
			{% for person in form.persons %}
					<div class="form-group">
						{{form_row(person.name)}}
					</div>
					<div class="form-group">
						{{form_row(person.lastName)}}
					</div>
					<div class="form-group">
						{{form_row(person.dni)}}
					</div>
					<div class="form-group row">
						<div class="col-md-8">
							{{form_row(person.address)}}
						</div>
						<div class="col-md-2">
							{{form_row(person.address_number)}}
						</div>
						<div class="col-md-2">
							{{form_row(person.zip_code)}}
						</div>
					</div>
					<div class="form-group row">
						<div class="col-md-6">
							{{form_row(person.phone_area_code)}}
						</div>
						<div class="col-md-6">
							{{form_row(person.phone_number)}}
						</div>
					</div>
			{% endfor %}
		</div>
		<div class="col-md-6">
			<div class="form-group">
				{{form_row(form.email)}}
			</div>
			<div class="form-group">
				{{form_row(form.password)}}
			</div>
		</div>
	</div>
	{{form_row(form.save)}}
	{{form_end(form)}}
{% endblock %}

{% block newsletter %}
{% endblock %}

