{% extends 'base.html.twig' %}

{% block breadcum %}
    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="breadcrumb-header">Checkout</h3>
                    <ul class="breadcrumb-tree">
                        <li><a href="#">Home</a></li>
                        <li class="active">Checkout</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->
{% endblock %}

{% block section_container %}
    <!-- SECTION -->
    <div class="container_check_out">
     <div class="col-md-7">
        <!-- Billing Details -->
        <div class="billing-details">
            <div class="section-title">
                <h3 class="title">Billing address</h3>
            </div>
            {# {{ dump(form) }} #}
           {{ form_start(form) }}
           <div class="form-group row">
                <div class="col-md-4">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.lastName) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.dni) }}
                </div>
           </div>
           <div class="form-group">
                {{ form_row(form.email) }}
           </div>
           <div class="form-group row">
                <div class="col-md-6">
                    {{ form_row(form.address) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.address_number) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.zip_code) }}
                </div>
           </div>
           <div class="form-group">
                {{ form_row(form.city) }}
           </div>
           {# <div class="form-group">
           </div> #}
           <div class="form-group row">
                <div class="col-md-6">
                    {{ form_row(form.phone_area_code) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.phone_number) }}
                </div>
           </div>
           <div class="form-group">
                {{ form_row(form.order_notes) }}
           </div>
           {{ form_end(form) }}
        </div>
        <!-- /Billing Details -->

    </div>

    <!-- Order Details -->
    <div class="col-md-5 order-details">
        <div class="section-title text-center">
            <h3 class="title">Your Order</h3>
        </div>
        <div class="order-summary">
            <div class="order-col">
                <div><strong>PRODUCT</strong></div>
                <div><strong>TOTAL</strong></div>
            </div>
            {# {{ dump(cart.contents) }} #}
            <div class="order-products">
                {% for item in cart.contents %}
                    <div class="order-col">
                        {# <div>1x Product Name Goes Here</div> #}
                        <div>{{ item.qty }} x {{ item.name }}</div>
                        <div> 
                         <h5>${{ item.saleprice }}</h5>
                         <del class="product-old-price"> ${{ item.price }} </del>   
                     </div>
                 </div>
             {% endfor %}

         </div>
         <div class="order-col">
            <div>Shiping</div>
            <div><strong>FREE</strong></div>
        </div>
        <div class="order-col">
            <div><strong>TOTAL</strong></div>
            <div><strong class="order-total">${{ cart.total }}</strong></div>
        </div>
    </div>
        {# <div class="payment-method">
            <div class="input-radio">
                <input type="radio" name="payment" id="payment-1">
                <label for="payment-1">
                    <span></span>
                    Direct Bank Transfer
                </label>
                <div class="caption">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="input-radio">
                <input type="radio" name="payment" id="payment-2">
                <label for="payment-2">
                    <span></span>
                    Cheque Payment
                </label>
                <div class="caption">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="input-radio">
                <input type="radio" name="payment" id="payment-3">
                <label for="payment-3">
                    <span></span>
                    Mercado Pago
                </label>
                <div class="caption">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>  
        </div> #}
        <a  href="javascript:void(0)" id="btn-place-order" class="primary-btn order-submit" {# onclick="checkout.open()" #}>Place order</a>
        {# <button id="btn-place-order" class="primary-btn order-submit">Place Order</button> #}
    </div>
    <!-- /Order Details -->
    <!-- /SECTION -->
</div>



{# Formularios Datos Tarjeta y Orden con Articulos comprados #}
<div class="container-form-payment">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7">
                    <h4>Datos Tarjeta</h4>
                    {% include 'mp/form_mp.html.twig' %}
                </div>
                <div class="col-md-5 order-details" id="order-datail-payment">
                 <div class="section-title text-center">
                    <h3 class="title">Resumen Compra</h3>
                </div>
                {% include '_fragments/_order_sumary.html.twig' %}
            </div>
        </div>
    </div>
</div>

</div>

{# /*Resultado del Pago y Resumen de la compra realizada*/ #}
<div class="container-payment-result">
    {% include '_fragments/_payment_result.html.twig' %}
</div>

{% endblock %}
