{% block section_container %}
   <form id="form-checkout" novalidate>
      <div class="form-group row">
         <div class="col-md-4">
          <input class="input" type="text" name="cardNumber" id="form-checkout__cardNumber"/>
           <span id="form-checkout__cardNumber_error"></span>
       </div>
       <div class="col-md-4">
          <input class="input" type="text" name="cardExpirationMonth" id="form-checkout__cardExpirationMonth" />
          <span id="form-checkout__cardExpirationMonth_error"></span>
       </div>
       <div class="col-md-4">
          <input class="input" type="text" name="cardExpirationYear" id="form-checkout__cardExpirationYear" />
          <span id="form-checkout__cardExpirationYear_error"></span>
       </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
       <input class="input" type="text" name="cardholderName" id="form-checkout__cardholderName"/>
       <span id="form-checkout__cardholderName_error"></span>
    </div>
    <div class="col-md-6">
       <input class="input" type="email" name="cardholderEmail" id="form-checkout__cardholderEmail"/>
       <span id="form-checkout__cardholderEmail_error"></span>
    </div>
 </div>
 <div>
 <div class="form-group"> 
   <input class="input" type="text" name="securityCode" id="form-checkout__securityCode" />
   <span id="form-checkout__securityCode_error"></span>
</div>
 </div>
 
<div class="form-group"> 
   <select class="input-select" name="issuer" id="form-checkout__issuer"></select>
   <span id="form-checkout__issuer_error"></span>
</div>
<div class="form-group row">
   <div class="col-md-4">
      <select class="input-select" name="identificationType" id="form-checkout__identificationType"></select>
      <span id="form-checkout__identificationType_error"></span>
   </div> 
   <div class="col-md-8">
     <input class="input" type="text" name="identificationNumber" id="form-checkout__identificationNumber" />
     <span id="form-checkout__identificationNumber_error"></span>
  </div>
</div>

<div class="form-group">
   <select class="input-select" name="installments" id="form-checkout__installments"></select>
   <span id="form-checkout__installments_error"></span>
</div>

<div>
   <a  id="form-checkout__back" href=""> Back to order </a>
</div>


<button class="primary-btn" type="submit" id="form-checkout__submit">Pay</button>


</form>


{% endblock %}
