{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

    {% block header %}
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="{{path('index')}}" class="logo">
                                <img src={{ asset("img/logo.png") }}>
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    {% endblock %}

    {% block navigation %}{% endblock %}

        {% block breadcum %}{% endblock %}

            {% block newsletter %}{% endblock %}

                {% block section_container %}
                    {% for flashError in app.flashes('reset_password_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}
                    <div class="col-md-6">
                        <h3>Reset your password</h3>

                        {{ form_start(requestForm)}}
                        <div class="form-group">
                          {{ form_row(requestForm.email) }}
                      </div>

                      <div class="form-group">
                        <small>
                            Enter your email address and we we will send you a
                            link to reset your password.
                        </small>
                    </div>

                    <button class="primary-btn order-submit">Send password reset email</button>
                    {{ form_end(requestForm) }}
                </div>

            {% endblock %}
