{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

    {% block section_container %}
        <div class="row">
            <div class="col-md-6">
               <h3>Reset your password</h3>
               {{ form_start(resetForm) }}
               <div class="form-group">
                  {{ form_row(resetForm.plainPassword) }}
              </div>
              <button class="primary-btn order-submit">Reset password</button>
              {{ form_end(resetForm) }}
          </div>
          <div class="col-md-6">
          </div>
      </div>

  {% endblock %}
