.card{
	background-color: #ddd;
	margin: 50px 20px;
	height: 100px;
	width: 23%;
	display: inline-block;
	margin: 100px 20px;
	margin-top: 25px;
}

.content-card{
	font-size: 3rem;
}

.panel-header{
	/*background-color: blue;*/
	height: 200px;
	text-align: center;
	border-bottom: 3px solid #ddd;
}


.average-ticket{
	border-left: 5px solid #ff0000;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}
.quantity-sales{
	border-left: 5px solid #00f900;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}

.total-sales{
	border-left: 5px solid #0000ff;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}

.title-card{
	text-align: left;
	margin-top: 5px;
	margin-left: 5px;
	text-transform: uppercase;
	font-size: 1.2rem;
}

.panel-center{
	height: 300px;
	/*background-color: red;*/
	border-bottom: 3px solid #ddd;
}


.card-center{
	width: 40%;
	height: 200px;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 48px;
}

.card-center-right{
	/*background-color: yellow;*/
	display: inline-block;
	background-color: #ddd;
	border-left: 5px solid #ff0000;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}

.card-center-left{
	/*background-color: green;*/
	display: inline-block;
	background-color: #ddd;
	border-left: 5px solid #ff0000;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
}

.img-card-center-left{
	display: inline;
	vertical-align: inherit;
}

.ol-list-ranking{
	list-style: decimal;
	margin-left: 40px;
	font-size: 2rem;
}


.card-stock-critical{
	background-color: rgba(255, 0, 0, 0.2);
}

.sub-title-metric{
	font-size: 1.5rem;
	text-transform: uppercase;
	text-align: left;
	font-weight: 500;
	margin-top: 12px;
}

.total-inventory{
	font-size: 2rem;
}

.see-more-ranking{
	margin-left: 15px;
	text-decoration: underline;
	position: fixed;
}

.with-product-rank{
	margin-top: calc(100px - 28px);
}

.circulo_green {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #44bd32;
     margin: 0 auto;
}

.circulo_red {
     width: 25px;
     height: 25px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #e84118;
     margin: 0 auto;
}












