.row-item-email{
	border-bottom: 1px solid #eee;
	margin-top: 10px;
}

.footer-email{
	background-color: #15161D;
	color: #000;
	display: inline-block;
}

.img-footer-email{
	display: inline;
}

.dates-footer-email{
	color: white;
}

.wrapper{
	background-color: #ccc;
}

.email-details-payment{
	display: block;
}

.details-row-payment{
	border-bottom: 1px solid #bbb;
}

.details-payment-left{
	border-right: 1px solid #bbb;
}

.details-payment-right{
	float: right;
}

.payment-strong{
	background-color: yellow;
}

.mail-container{
	background-color: red;
}