.container-form-payment {
	display: none;
}

.container-payment-result{
	display: none;
}


#item-delete-alert{
	display: none;
}


#form-checkout div div span .alert{
	padding: 2px;
	margin: 2px 0;
	font-size: 1rem;
}

.total-cart{
	float: right;
}

.box-creditcard{
	background-color: #FBFBFC;
	height: auto;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.box-header{
	padding: 5px;
	border-bottom: 1px solid #eee;
}

.box-content{
	margin-top: 5px;
	padding: 0px 10px;

}

.box-content-in{
	box-sizing: border-box;
	padding: 15px;
	margin: 0 0 30px 0;
	overflow: hidden;
}

.row-product-order{
	border-bottom: 1px solid #eee;
	padding:  5px 0;
	margin-bottom: 25px;
}

.list-data-payment li{
	margin-bottom: 3px;
	word-spacing: 2px;
}

.box-list{
	position: fixed;
}

.box-list ul{
	list-style: circle;
	padding: 5px;
	margin: 5px;
}


.header-links .li-my-acount:hover .list-my-acount {
  color: green;
  display: inline-block;
}


.header-links li .list-my-acount{
	display: none;
	position: relative;
}

table{
	width: 100%;
	background-color: #fff;
}

thead{
	background-color: #2B2D42;
	color: #fff;
	text-transform: uppercase;
}


thead tr th{
	padding: 15px;	
}


.trow{
	border-bottom: 1px solid #eee;
}

.trow td{
	padding: 15px;
}

.trow:hover{
	background-color: #E4E7ED;
}

.notify{
	padding: 20px;
	margin-bottom: 25px;
	text-align: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

div .message {
	color: #8D99AE;
	font-size: 3rem;
	font-weight: 500;
}

.sidebar-panel{
	background-color: #eee;
	/*background-color: #ccc;*/
	height: auto;
	/*height: 1100px;*/
	padding: 0;
	margin-top: 95px;
	
}

.ul-sidebar{
	display: inline-block;	
	list-style: none;
	width: 100%;
}

.ul-sidebar li{
	padding: 15px;
	width: 100%;
	color: #000;
	cursor: pointer;
	box-sizing: border-box;
	text-align: center;
	text-transform: uppercase;
	
}

.ul-sidebar li:hover{
	background-color: #ddd;
	color: #fff;
	width: 100%;
}

.ul-sidebar-selected li{
	background-color: #ddd;
	color: #fff;
	width: 100%;
}


.box-content{
	background-color: #eee;
	height: auto;
	margin-top: 0;
	padding: 0;
}

.box-content-header{
	height: 75px;
	padding: 25px;
	font-weight: 500;
	margin-bottom: 20px;
	background-color: #2B2D42;
	text-transform: uppercase;
	color: #fff;
	box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
	font-size: 20px;
	padding-left: 10px;
}

.box-content-principal{
	/*background-color: #eee;*/
	/*margin-bottom: 5px;*/
	min-height: 1000px;
	/*display: grid;*/

}

.row-content{
	background-color: #eee;
	/*min-height: 1100px;*/
}

.col-principal{
	padding: 0;
}

.register-data{
	padding: 15px 15px 15px 0;
}

.table-search{
	padding: 15px 15px 15px 0;	
}

.input-text-search{
	margin-left: 15px;
	border-radius: 2px;
	width: 50%;
	border: 1px solid #eee;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
	padding: 5px;
}

.label-text-search{
	font-size: 1.5rem;
	font-weight: 500;
	display: inline;
}

.input-btn-search{
	margin-left: 5px;
	padding: 5px;
}

.table-search div{
	display: inline;
}

form label{
	margin-left: 10px;
}

.without-result{
	height: 50px;
	text-align: center;
}

.panel-btn-table{
	display: inline;
	box-sizing: content-box;
	float: right;
	text-align: center;
}

.search-product {
	display: inline;
	box-sizing: content-box;
}


/*INPUTS PANEL ADMIN*/

.input-admin{
	padding: 10px;
	display: block;
	width: 100%;
}

.input-admin-btn{
	padding: 15px;
	width: 100%;
	text-transform: uppercase;
}

.input-admin-radio{
	margin-left: 15px;
	padding: 5px;
	display: block;
}

.input-admin-radio input{
	margin-left: 15px;
}

.input-admin-select{
	display: block;
	width: 100%;
	padding: 10px;
}

.input-admin-checkbox{
	margin-left: 15px;

}

.input-admin-checkbox input{
	font-size: 15px;

}

.header-content-box{
		background-color: #2B2D42;
		color: 	#fff;
		padding: 10px;
		font-size: 1.4rem;
		font-weight: 600;
		margin-bottom: 15px;
		text-transform: uppercase;
}

.paint-coincidence{
		background-color: yellow;
}

.title-section{
	padding: 10px 0;
	text-transform: uppercase;
	/*text-align: center;*/
	border-bottom: 1px solid #ddd;
	background-color: ;
}

.files-img{
	margin-left: 15px;
}


input[type="file"]{
	display: inline;
	padding: 15px;
}

#product_form_images_label{
	display: block;
	margin-top: 5px;
}

.product_form_images{
	padding: 15px;
}

#box-img-load{
	width: 0 auto;
	height: auto;
	text-align: center;

}

#box-btn-examinar{
		/*background-color: yellow;*/
}

#btn-examinar{
	padding: 10px;
	margin-left: 10px;
	width: 100%;
	margin-top: 15px;
	background-color: #00fa00;
	border: solid #eee;
	font-size: 18px;
	background-color: #286090;
	color: #fff;
	border-radius: 10px;
}

.list-selector{
	margin: 8px 0;
	bottom: 1px solid #00ff00;
}

#box-img-load .no-selected-file-p{
	font-size: 18px;
}

#object-receipt{
	margin: 0 100px;
}
