{% extends 'base.html.twig' %}

{% block title %}
	{% if title is defined %}
		{{ title }}
	{% endif %}
{% endblock %}

{% block breadcum %}

{% endblock %}


{% block section_container %}

	<div class="section">
		<div class="container">
			<div class="row">
				<!-- shop -->
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<img src="./img/shop01.png" alt="">
						</div>
						<div class="shop-body">
							<h3>Laptop<br>Collection</h3>
							<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- /shop -->

				<!-- shop -->
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<img src="./img/shop03.png" alt="">
						</div>
						<div class="shop-body">
							<h3>Accessories<br>Collection</h3>
							<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- /shop -->

				<!-- shop -->
				<div class="col-md-4 col-xs-6">
					<div class="shop">
						<div class="shop-img">
							<img src="./img/shop02.png" alt="">
						</div>
						<div class="shop-body">
							<h3>Cameras<br>Collection</h3>
							<a href="#" class="cta-btn">Shop now <i class="fa fa-arrow-circle-right"></i></a>
						</div>
					</div>
				</div>
				<!-- /shop -->
			</div>
		</div>	
	</div>
	
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h3 class="title">All Products</h3>
					</div>
				</div>
				<!-- Products tab & slick -->
				<div class="col-md-12">
					{# {{dump(products)}} #}
					<div class="row">
						{% set showing = 0 %}
						{% for product in products %}
							<div class="col-md-4">
								<!-- product -->
								<div class="product">
									<div class="product-img">
										{# <img src="./img/product01.png" alt=""> #}
										<img src={{asset('img/' ~ product.images[0])}} alt="">
										<div class="product-label">
											{% if product.sales %}
												<span class="new">SALE</span>
												<span class="sale">- {{ product.sales }} %</span>
											{% endif %}
											
											{% if product.isNew %}
												<span class="new">NEW</span>
											{% endif %}
										</div>
									</div>
									<div class="product-body">
										<p class="product-category"> {{ product.category.name }} </p>
										<h3 class="product-name"><a href="{{path('app_product_show',{'id': product.id})}}"> {{ product.name }} </a></h3>
										<h4 class="product-price">$ {{ product.getSalePrice|round(2,'floor') }} <del class="product-old-price">$ {{ product.price|round(2,'floor') }}</del></h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="product-btns" id="btn-all-product">
											<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
										</div>
									</div>

									{% if is_granted('IS_AUTHENTICATED_FULLY') %}
										<div class="add-to-cart">
											<button class="add-to-cart-btn" id="{{'btn-' ~ product.id}}"><i class="fa fa-shopping-cart"></i> add to cart</button>
										</div>
									{% endif %}
								</div>
								<!-- /product -->
							</div>
							{% set showing = showing + 1 %}
						{% endfor %}
					</div>
				</div>
			</div>
			<!-- Products tab & slick -->

			<!-- store bottom filter -->
			<div class="store-filter clearfix">
				<span class="store-qty">Showing page {{ page }} - {{ showing }} of {{ total_register }} products</span>
				<ul class="store-pagination">
					{% for i in 1..count_pages %}
						{% if page == i  %}
							<li class="active"> {{ i }}</li>
						{% endif %}

						{% if  page != i %}
							<li><a href="{{path('index', {'page' : i})}}"> {{ i }}</a></li>
						{% endif %}
					{% endfor %}
					{% if page == count_pages %}
						<li><a href="{{path('index', {'page' : count_pages })}}"><i class="fa fa-angle-right"></i></a></li>
					{% endif %}
					{% if page != count_pages %}
						<li><a href="{{path('index', {'page' : page + 1 })}}"><i class="fa fa-angle-right"></i></a></li>
					{% endif %}

				</ul>
			</div>
			<!-- /store bottom filter -->



		</div>
	</div>

	<div class="section">
		<div class="container">
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Top selling</h3>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3">
						<!-- product -->
						<div class="product">
							<div class="product-img">
								<img src="./img/product01.png" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
									<span class="new">NEW</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 {# <del class="product-old-price">$990.00</del> #}</h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									{# <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button> #}
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
						<!-- /product -->
					</div>
					<div class="col-md-3">
						<!-- product -->
						<div class="product">
							<div class="product-img">
								<img src="./img/product01.png" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
									<span class="new">NEW</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 {# <del class="product-old-price">$990.00</del> #}</h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									{# <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button> #}
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
						<!-- /product -->
					</div>
					<div class="col-md-3">
						<!-- product -->
						<div class="product">
							<div class="product-img">
								<img src="./img/product01.png" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
									<span class="new">NEW</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 {# <del class="product-old-price">$990.00</del> #}</h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									{# <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button> #}
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
						<!-- /product -->
					</div>
					<div class="col-md-3">
						<!-- product -->
						<div class="product">
							<div class="product-img">
								<img src="./img/product01.png" alt="">
								<div class="product-label">
									<span class="sale">-30%</span>
									<span class="new">NEW</span>
								</div>
							</div>
							<div class="product-body">
								<p class="product-category">Category</p>
								<h3 class="product-name"><a href="#">product name goes here</a></h3>
								<h4 class="product-price">$980.00 {# <del class="product-old-price">$990.00</del> #}</h4>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
									{# <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button> #}
									<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
								</div>
							</div>
							<div class="add-to-cart">
								<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
						<!-- /product -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
