{% extends 'base.html.twig' %}

{% block title %}Tienda E! Panel Admin{% endblock %}

{% block header %}
     <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
                    <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
                </ul>
                <ul class="header-links pull-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="#">{{app.user.email}}</a></li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                       <li class="li-my-acount">
                            <a href="#"><i class="fa fa-user-o"></i> My Account</a>
                            <div class="box-list">
                                <ul class="list-my-acount">
                                    <li><a href="{{ path('app_my_orders') }}">My Orders</a></li> 
                                    <li> <a href="{{ path('app_person_my_dates') }}">My Dates</a> </li>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <li> <a href="{{ path('app_my_sales') }}">My Sales Admin</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                                  
                        </li>
                       <li><a href="{{path('app_logout')}}"><i class="fa fa-sign-out"></i> Logout</a></li>
                   {% endif %}
                   {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                     <li><a href="{{path('app_login')}}"><i class="fa fa-user-o"></i> Login </a></li>
                 {% endif %}
             </ul>
         </div>
     </div>
     <!-- /TOP HEADER -->
          <!-- MAIN HEADER -->
     <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="{{path('index')}}" class="logo">
                            <img src={{asset("img/logo.png")}}>
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->
    </div>
    <!-- row -->
</div>
<!-- container -->
</div>
<!-- /MAIN HEADER -->

{% endblock %}

{% block navigation %}{% endblock navigation %}

{# {% block breadcum %}
    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="breadcrumb-header">Panel Admin</h3>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->
{% endblock breadcum %} #}
{% block breadcum %}
   
{% endblock breadcum %}



{% block section_container %}
    {% block row_content %}
        <div class="row row-content"> 
            <div class="col-md-12 col-principal">
                {% block sidebar_panel %}
                    <div class="col-md-2 sidebar-panel">
                        <ul class="ul-sidebar">
                            <li><a href="{{ path('app_panel_admin')}}">DASHBOARD</a></li>
                            <li><a href="{{ path('app_panel_admin_users') }}">user</a></li>
                            <li><a href="{{ path('app_panel_admin_products') }}">products</a></li>
                            <li><a href="{{ path('app_panel_admin_orders') }}">orders</a></li>
                            <li><a href="">metrics</a></li>
                        </ul>
                    </div>
                {% endblock sidebar_panel%}
                
                {% block box_content %}
                        {% block box_content_header %}
                            <div class="box-content-header">
                                PANEL ADMIN
                            </div>
                        {% endblock box_content_header %}
                        <div class="col-md-10 box-content">
                            <div class="box-content-principal" id="box-content-principal">
                             {% block box_content_principal %}
                                    {{ render(controller(
                                            'App\\Controller\\PanelAdminController::dashboard'
                                        )) 
                                    }}
                             {% endblock box_content_principal %} 
                            </div>
                                      
                    </div>
                {% endblock box_content %}        
            </div>
        </div>
    {% endblock row_content %}
    
{% endblock section_container %}

{% block newsletter %}{% endblock newsletter %}

{% block footer %}{% endblock footer %}

