<h3 class="title-section">daily metrics of {{ today }}</h3>
<div class="row">
	<div class="col-md-12">
		<div class="panel-header">
			<div class="sub-title-metric">
				sales
			</div>
			<div class="card quantity-sales">
				<h6 class="title-card">quantity sales</h6>
				<div class="content-card">
					{{ qty_sales }}
				</div> 
			</div>
			<div class="card total-sales">
				<h6 class="title-card">total sales</h6>
				<div class="content-card">
					$ {{ total_sales }}
				</div>
			</div>
			<div class="card average-ticket">
				{# ticket promedio #}
				{# Ticket promedio ($) = Valor total de ventas ÷ cantidad de ventas #}
				<h6 class="title-card">average ticket</h6>
				<div class="content-card">
					$ {{ avg_ticket }}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel-center">
			<div class="sub-title-metric">
				ranking products
			</div>
			<div class="card-center card-center-left">
				<h6 class="title-card">
					{# SELECT order_has_products.id as id, count(order_has_products.products_id) as COUNT FROM `order_has_products` GROUP BY order_has_products.products_id ORDER BY `order_has_products`.`id` ASC  #}
					top 5 productos mas vendidos
				</h6>
				<ol class="ol-list-ranking">
					{% if ordersTopSelling  %}
						{% for item in ordersTopSelling %}
							<li> {{ item[0].products.getName() }} - ({{ item[1] }})</li>
						{% endfor %}
						{# <a href="" class="see-more-ranking">See more (+)</a> #}
					{%else  %}
					<div class="with-product-rank">
						Without Products for Ranking
					</div>
					{% endif %}
				</ol>
			</div>
			<div class="card-center card-center-right">
				<h6 class="title-card">
					top 5 productos menos vendidos
				</h6>
				<ol class="ol-list-ranking">
					{% if ordersBottomSelling %}
						{% for item in ordersBottomSelling %}
							<li> {{ item[0].products.getName() }} - ({{ item[1] }})</li>
						{% endfor %}
					{# <a href="" class="see-more-ranking">See more (+)</a> #}
					{% else %}
						<div class="with-product-rank">
							Without Products for Ranking
						</div>
					{% endif %}
				</ol>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel-header">
			<div class="sub-title-metric">
				Inventory
			</div>
			<div class="card quantity-sales">
				<h6 class="title-card">Quantity Inventory</h6>
				<div class="content-card">
					{{ quantity_inventory }}
				</div> 
			</div>
			{# <div class="card total-sales">
				<h6 class="title-card">Total Inventory</h6>
				<div class="total-inventory">
					$ {{ total_inventory }}
				</div>
			</div> #}
			<div class="card average-ticket card-stock-critical">
				{# ticket promedio #}
				{# Ticket promedio ($) = Valor total de ventas ÷ cantidad de ventas #}
				<h6 class="title-card">products with critical stock</h6>
				<div class="content-card">
					{{ products_critical_stock }}
				</div>
			</div>
		</div>
	</div>
</div>




