{% extends 'panel_admin/base.html.twig' %}

{% block box_content_principal %}
	<div class="header-content-box">
        Receipt View
    </div>
	{# {{ dump(file_dir) }} #}
	<div class="col-md-12">
		{% if file_dir is defined and file_dir is not null %}
			<object data="{{ asset(file_dir) }}" type="application/pdf" width="80%" height="1000px" id="object-receipt"></object>
		{% endif %}
	</div>
{% endblock %}


