{% extends 'panel_admin/base.html.twig' %}

{% block box_content_principal %}
    {# {{ dump(orders) }} #}
    <div class="header-content-box">
        Orders
    </div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="table-search">
        {{ render(controller(
            'App\\Controller\\PanelAdminController::renderSearch', {section: 'panel_orders'}
            )) 
        }}
    </div>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th> shipping status</th>
                {# <th> shipping address</th> #}
                <th># pay</th>
                <th># order</th>
                <th>payment data created</th>
                <th>user email</th>
                <th>receipt</th>
                <th>amount</th>
            </tr>
        </thead>
        <tbody>
            {# {{ dump(orders) }} #}
            {% for item in orders.paginator %}
                <tr class="trow">
                    <td> {{ item.getId }} </td>
                    <td> {{ item.getStatus }} </td>
                    {# <td> {{ item.getShippingAddress }} </td> #}
                    <td> <a href="{{ path('payment', { payment_id: item.payment.getId }) }}">
                        {% if search %}
                            {{ item.getPaymentPaintSearch | raw }}
                        {% else %}
                            {{ item.payment.getId }}
                        {% endif %}
                        </a>
                    </td>
                    <td> {{ item.getOrderId | raw  }}  </td>
                    <td> {{ item.getCreatedAt.format('d-m-Y h:m:s') }} </td>
                    <td> {{ item.user.getEmail | raw}}</td>
                    {# <td> {{ item.receipt.getFilePdfReceipt }} </td> #}
                    <td style="text-align: center;">
                        <input type="text" name="_hidden" id="hidden" value="{{ item.receipt.getFilePdfReceipt}} ">
                        <a href= {{ path('receipt_load', { filename : item.receipt.getFilePdfReceipt })}}>
                            <span class="material-icons-outlined">
                                text_snippet
                            </span>
                        </a> 

                    </td>
                    <td style="font-size: 11px"> $ {{ item.payment.getTransactionAmount }} </td>
                </tr>
            {% endfor %}
        </tbody>   
    </table>

    {{ include('_fragments/_pagination.html.twig', {object: orders, route_controller: 'app_panel_admin_orders', search: search}) }}

{% endblock %}