{% extends 'panel_admin/base.html.twig' %}
{% block box_content_principal %}
	<div class="header-content-box">
		{{ title_header }}
	</div>
	<div class="container">
		{# {{ dump(form_product.vars.value.images) }} #}
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-10">
					{# {{ dump(form_product) }} #}
					{# {{ form_start(form_product, {'attr': {'novalidate': 'novalidate'}}) }} #}
					{{ form_start(form_product) }}
						<div class="form-group">
							{{ form_row(form_product.name) }}
						</div>
						<div class="form-group">
							{{ form_row(form_product.description) }}
						</div>
						<div class="form-group">
							{{ form_row(form_product.status) }}
						</div>
						{# <div class="form-group">
							{{ form_row(form_product.reference) }}
						</div> #}
						<div class="form-group">
							{{ form_row(form_product.price) }}
						</div>
						<div class="form-group">
							{{ form_row(form_product.parent) }}
						</div>
						<div class="form-group">
							{{ form_row(form_product.category) }}
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-md-8" id="box-files-form">
									<div class="row">
										<div class="col-md-12" id="box-btn-examinar">
											<label id="product_form_images_label" for="product_form_images">Images Selector</label>
											<button id="btn-examinar">
												examinar
											</button>
											{{ form_row(form_product.images) }}	
										</div>

										<div class="col-md-12" id="box-img-load">
											{# <div class="row" id="box-img-load"></div> #}	

										</div>
									</div>
								</div>

								{# Muestra productos cargados en archivo #}
								<div class="col-md-4">
									<div>
										<label for="">Images Product File</label>
									</div>
									{% for item in form_product.vars.value.images %}
										<img  class="files-img" src="{{asset('img/' ~ item)}}" alt="" height="75" width="75">
										{# {{ item }} #}
									{% endfor %}
								</div>
							</div>		
						</div>
						<div class="form-group">
							{% for inv in form_product.inventory_collection %}
								{{ form_row(inv.unit) }}
								{{ form_row(inv.availableQuantity) }}
							{% endfor %}
						</div>
						<div class="form-group">
							{{ form_row(form_product.sales) }}
						</div>
						<div class="form-group">
							{{ form_row(form_product.isNew) }}
						</div>
						<div class="form-group">
							{{ form_row(form_product.save) }}
						</div>
					{{ form_end(form_product) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}