{% extends 'panel_admin/base.html.twig' %}

{% block box_content_principal %}
	 {# {{ dump(products) }} #}
	 {# {{ dump(products.pagination_object.getTotalRegister) }} #}
	 <div class="header-content-box">
        products
    </div>
	 {% for label, messages in app.flashes %}
	    {% for message in messages %}
	        <div class="alert alert-{{ label }}">
	            {{ message }}
	        </div>
	    {% endfor %}
	{% endfor %}
	 <div class="table-search">
		 <div class="panel-btn-table">
		 	<a href="{{ path("app_panel_admin_product")}}" class="btn btn-primary"> NEW </a>
		 </div>
		 <div class="search-product">
		 	{{ render(controller(
				'App\\Controller\\PanelAdminController::renderSearch', {section: 'panel_products'}
				)) 
			}}
		 </div>
	 </div>
	 {% if products.pagination_object.getTotalRegister %}
		 <table>
		 	<thead>
			 	<tr>
			 		<th>#</th>	
			 		<th>name</th>	
			 		<th>category</th>	
			 		<th>price</th>	
			 		<th>ref</th>	
			 		<th>status</th>		
			 		<th>New?</th>		
			 		<th>stock</th>		
			 		<th>actions</th>		
				</tr>
		 	</thead>
		 	{% for product in products.paginator %}
		 		{# {{ dump(product) }} #}
		 		{# {{ dump(search) }} #}
			 	<tr class="trow">
			 		<td>
			 			{% if search is not null %}
			 				{{ product.getIdString|raw }}
			 			{% else %}
			 				{{ product.id }}
			 			{% endif %}
			 		</td>
			 		<td>{{ product.name|raw }}</td>
			 		<td>{{ product.category.name }}</td>
			 		<td>{{ product.price }}</td>
			 		<td>{{ product.reference|raw }}</td>
			 		{# <td>{{ product.status }}</td> #}
			 		<td style="text-align: center;">
			 			{% if product.status == 'active' %}
				 			<div class="circulo_green">
				 			</div>
			 			{% else %}
			 				<div class="circulo_red">
				 			</div>
			 			{% endif %}
			 		</td>
			 		<td>
			 			{% if product.isNew  %}
			 				<span class="material-icons-outlined">
								done
							</span>
			 			{% endif %}
			 		</td>
			 		<td>{{ product.inventory.availableQuantity }}</td>
			 		<td style="text-align: center;"> <a href="{{ path('app_panel_admin_product', {'id': product.id}) }}" class="btn btn-warning">Edit</a></td>
			 	</tr>
		 	{% endfor %}
		 </table>
		 
		 {# Paginador template #}
		{{ include('_fragments/_pagination.html.twig', {object: products, route_controller: 'app_panel_admin_products', search: search}) }} 		
	 {% endif %}
{% endblock %}