{% extends 'panel_admin/base.html.twig' %}

{% block box_content_principal %}
	{# {{ dump(users)}} #}
	<div class="header-content-box">
        Users
    </div>
	{% for label, messages in app.flashes %}
	    {% for message in messages %}
	        <div class="alert alert-{{ label }}">
	            {{ message }}
	        </div>
	    {% endfor %}
	{% endfor %}
	<div class="table-search">
		{{ render(controller(
			'App\\Controller\\PanelAdminController::renderSearch', {section: 'panel_user'}
			)) 
		}}
	</div>
		{% if users.pagination_object.getTotalRegister != 0 %}
			<table>
				<thead>
					<tr>
						<th>#</th>
						<th>Email</th>
						<th>Roles</th>
						<th style="text-align: center;">Options</th>
					</tr>
				</thead>
				{% for user in users.paginator %}
					<tr class="trow">
						<td> {{ user.id }}</td>
						<td> {{ user.email|raw }} </td>
						<td> {{ user.roles[0]}} </td>
						<td style="text-align: center;"> 
							<a href="{{ path('app_panel_admin_edit_user', {id: user.id, page: users.pagination_object.getPage }) }}" class="btn btn-success">Role</a>
							<a href="" class="btn btn-warning">State</a>
						</td>
					</tr>
				{% endfor %} 
			</table>

			{# Paginador template #}
			{{ include('_fragments/_pagination.html.twig', {object: users, route_controller: 'app_panel_admin_users', search: search}) }}
	{% endif %}

{% endblock %}