{% extends 'base.html.twig' %}

{% block title %} Tienda E! - My dates {% endblock %}

{% block navigation %}

{% endblock %}

{% block breadcum %}
    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="breadcrumb-header">My dates</h3>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->
{% endblock %}

{% block section_container %}

    

    <div class="row">
        <div class="col-md-12">
            {% for message in app.flashes('notice') %}
                <div class="notify alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-8">
            {{ form_start(form_person) }}
       
            <div class="form-group">
                {{ form_row(form_person.name) }}
            </div>
            <div class="form-group">
                {{ form_row(form_person.lastName) }}
            </div>
            <div class="form-group">
                {{ form_row(form_person.dni) }}
            </div>
        
        <div class="form-group row">
            <div class="col-md-6">
                {{ form_row(form_person.phone_area_code) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form_person.phone_number) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4">
                {{ form_row(form_person.address) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form_person.address_number) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form_person.zip_code) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                {{ form_row(form_person.save) }}
            </div>
        </div>
    {{ form_end(form_person) }}
        </div>
    </div>

    
{% endblock %}
