<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tienda E!{% endblock %}</title>
    {% block stylesheets %}
      <!-- Google font -->
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

      <!-- https://material.io/resources/icons/?style=baseline -->
      <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
      <!-- https://material.io/resources/icons/?style=outline -->
      <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
      rel="stylesheet">


      <!-- Bootstrap -->
      <link type="text/css" rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}"/>


      <!-- Slick -->
      <link type="text/css" rel="stylesheet" href="{{asset('css/slick.css')}}"/>
      <link type="text/css" rel="stylesheet" href="{{asset('css/slick-theme.css')}}"/>

      <!-- nouislider -->
      <link type="text/css" rel="stylesheet" href="{{asset('css/nouislider.min.css')}}"/>

      <!-- Font Awesome Icon -->
      <link rel="stylesheet" href="{{asset('css/font-awesome.min.css')}}">

      <!-- Custom stlylesheet -->
      <link type="text/css" rel="stylesheet" href="{{asset('css/style.css')}}"/>
      {# <link type="text/css" rel="stylesheet" href="{{asset('css/probando.css')}}"/> #}
      <link type="text/css" rel="stylesheet" href="{{asset('css/other-style.css')}}"/>

      <link type="text/css" rel="stylesheet" href="{{asset('css/dashboard.css')}}"/>
      
      

     

      
     


      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
          <![endif]-->
      {% endblock %}


  </head>
  <body>
    {% block header %}
       <!-- HEADER -->
       <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
                    <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
                </ul>
                <ul class="header-links pull-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li><a href="#">{{app.user.email}}</a></li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                       <li class="li-my-acount">
                            <a href="#"><i class="fa fa-user-o"></i> My Account</a>
                            <div class="box-list">
                                <ul class="list-my-acount">
                                    <li><a href="{{ path('app_my_orders') }}">My Orders</a></li> 
                                    <li> <a href="{{ path('app_person_my_dates') }}">My Dates</a> </li>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <li> <a href="{{ path('app_panel_admin') }}">My Panel Admin</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                                  
                        </li>
                       <li><a href="{{path('app_logout')}}"><i class="fa fa-sign-out"></i> Logout</a></li>
                   {% endif %}
                   {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                     <li><a href="{{path('app_login')}}"><i class="fa fa-user-o"></i> Login </a></li>
                 {% endif %}
             </ul>
         </div>
     </div>
     <!-- /TOP HEADER -->

     <!-- MAIN HEADER -->
     <div id="header">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-3">
                    <div class="header-logo">
                        <a href="{{path('index')}}" class="logo">
                            <img src={{asset("img/logo.png")}}>
                        </a>
                    </div>
                </div>
                <!-- /LOGO -->

                <!-- SEARCH BAR -->
                {{ render(controller('App\\Controller\\CategoryController::allCategorys',{_fragment: '_fragments/_search_bar.html.twig'}))}}
                <!-- /SEARCH BAR -->

                <!-- ACCOUNT -->
                <div class="col-md-3 clearfix">
                    <div class="header-ctn">


                        <!-- Cart -->
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                         <!-- Wishlist -->
                         {# <div>
                            <a href="#">
                                <i class="fa fa-heart-o"></i>
                                <span>Your Wishlist</span>
                                <div class="qty">2</div>
                            </a>
                        </div> #}
                        <!-- /Wishlist -->
                        <!-- /Cart -->                        
                        <div class="dropdown" id="cart-icon-drop">
                           {{ render(controller('App\\Controller\\ProductController::cartIcon')) }}
                       </div>
                       <!-- /Cart -->
                   {% endif %}

                   <!-- Menu Toogle -->
                   <div class="menu-toggle">
                    <a href="#">
                        <i class="fa fa-bars"></i>
                        <span>Menu</span>
                    </a>
                </div>
                <!-- /Menu Toogle -->
            </div>
        </div>
        <!-- /ACCOUNT -->
    </div>
    <!-- row -->
</div>
<!-- container -->
</div>
<!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

{% endblock %}

{% block navigation %}
    <!-- NAVIGATION -->
    {{ render(controller('App\\Controller\\CategoryController::allCategorys',{_fragment: '_fragments/_navigation.html.twig'}))}}
    <!-- /NAVIGATION -->
{% endblock %}

{% block breadcum %}
    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="breadcrumb-header">Regular Page</h3>
                    <ul class="breadcrumb-tree">
                        <li><a href="">Home</a></li>
                        <li class="active">Blank</li>
                    </ul>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->
{% endblock %}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row"  id="row-section">
            {% block section_container %}
                This is principal section
            {% endblock %}
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
</div>

{% block newsletter %}
    <!-- NEWSLETTER -->
    <div id="newsletter" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                        <form>
                            <input class="input" type="email" placeholder="Enter Your Email">
                            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                        </form>
                        <ul class="newsletter-follow">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /NEWSLETTER -->
{% endblock %}


{% block footer %}
    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">About Us</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Categories</h3>
                            <ul class="footer-links">
                                <li><a href="#">Hot deals</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Smartphones</a></li>
                                <li><a href="#">Cameras</a></li>
                                <li><a href="#">Accessories</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Information</h3>
                            <ul class="footer-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="#">Terms y Conditions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Service</h3>
                            <ul class="footer-links">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->

        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="footer-payments">
                            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                        </ul>
                        <span class="copyright">
                         <a target="_blank" href="https://www.templateshub.net">Templates Hub</a>
                     </span>
                 </div>
             </div>
             <!-- /row -->
         </div>
         <!-- /container -->
     </div>
     <!-- /bottom footer -->
 </footer>
 <!-- /FOOTER -->
{% endblock %}

{% block javascripts %}
  <!-- jQuery Plugins -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://sdk.mercadopago.com/js/v2"></script>
  <script src="https://www.mercadopago.com/v2/security.js" view=""></script>
  {# <script src="{{asset('js/MP.js')}}"></script>  Archivo que contiene la implementacion de la API MP#}
  <script src="{{asset('js/checkoutPro.js')}}"></script>
  <script src="{{asset('js/utilities.js')}}"></script>
  <script src="{{asset('js/bootstrap.min.js')}}"></script>
  <script src="{{asset('js/slick.min.js')}}"></script>
  <script src="{{asset('js/nouislider.min.js')}}"></script>
  <script src="{{asset('js/jquery.zoom.min.js')}}"></script>
  <script src="{{asset('js/main.js')}}"></script>
  <script type="text/javascript" src="{{ asset('js/files.js') }}"></script>
{% endblock %}


</body>
</html>
