<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
	<style>
		table{
			margin-top:25px;
			width: 100%; 
			border-collapse: collapse;
		}

		ul{
			list-style: none;
			margin:0;
			padding:0;
			font-size: 8px;
		}
		
		li{
			margin-top: 1px;
		}

		tr:nth-child(even){
			background-color: #eee;
		}

		tr td{
			padding: 5px; 
			border-collapse: collapse;
		}

		.div-left{
			/*background-color: red;*/
			float:left;
			height: 100px;
			width: 150px;
			margin:15px;
		}
		
		.div-center{
			/*background-color: white;*/
			float:left;
			height:25px;
			width: 25px;
			border: 1px solid #e2e2e2;
			text-align:center;
			padding: 25px;
			margin:  15px 145px 0;
			font-size:25px;
		}
		
		.div-right{
			/*background-color: yellow;*/
			float: right;
			height: 100px;
			width: 150px;
			margin:15px;
			
		}
		
		.header{
			width: 100%;
			height: 130px;
			/*background-color: green;*/
			border: 1px solid #eee;
		}
		
		.info-header{
			padding-left: 5px;
			display: inline-block;
		}
		
		.info-null{
			visibility: hidden;
		}
		
		.title-info{
			font-size: 15px;
			margin-bottom: 3px;
		}

		.trow-table-thead th{
			width: 40%; padding: 5px; 
			text-transform: uppercase;
			background-color: #2B2D42;
			color: #eee;
			text-align: left;
		}

		
		.tr-content-factura{
			border-bottom: 1px solid #eee;
		}

		.celda-color{
			background-color:#2B2D42;
			color:#fff
		}

		.footer{
			width: 100%;
			/*background-color: green;*/
			border: 1px solid #eee;
			height: 150px;
			position: fixed;
			bottom: 0;
			display: inline-block;
		}

		.img-qr{
			margin: 15px 0 15px 15px;
			display: inline;
			float: left;
			/*background-color: yellow;*/
		}

		.description-cae{
			width: 250px;
			height: 70px;
			/*background-color: red;*/
			margin: 15px 15px 15px 0;
			float: right;
			display: inline;
		}

		.footer-right{
			font-size: 12px;
			margin-left: 10px;
		}

	</style>
		<h1>FACTURA Nro: {{ receipt.getNumberReceipt }} </h1>
	<div class="header">
		<div class="div-left">
			
			<div class="info-header">
				<div class="title-info">
					Datos del cliente 
				</div>
				<div class="info-content">
					<ul>
						<li>{{ user.getPerson.fullName }}</li>
						<li>{{ user.getPerson.fullAddress }}</li>
						<li>{{ user.getEmail }}</li>
					</ul>
				</div>
				
			</div>
		</div>
		<div class="div-center">
			X
		</div>
		<div class="div-right">
			<div class="info-header">
				
				<div class="title-info">
					Tienda E!
				</div>
				<ul>
					<li>1734 Stonecoal Road</li>
					<li>+021-95-51-84</li>
					<li>email@email.com</li>
					<li>CP: 0000</li>
					<li>CUIT: XX-XXXXXXXX-X</li>
				</ul>
			</div>
		</div>
	</div>
	
	<table>
		<tr class="trow-table-thead">
			<th>title</th>
			<th>qty</th>
			<th>unit price</th>
			<th>total</th>
		</tr>

		
		{% for item in payment.getItems %}
			<tr>
				<td>{{ item.title }}</td>
				<td>{{ item.quantity }}</td>
				<td>$ {{ item.unit_price | round(2) }}</td>
				<td>$ {{ item.quantity  * (item.unit_price | round(2)) }}</td>
			</tr>
		{% endfor %}
	<tr>
		<td class="info-null">null</td>
		<td class="info-null">null</td>
		<td class="celda-color">SUBTOTAL</td>
		<td class="celda-color">$ {{ payment.getTransactionAmount }} </td>
	</tr>
	<tr>
		<td class="info-null">null</td>
		<td class="info-null">null</td>
		<td>IVA 21% </td>
		<td>$ {{ payment.getIvaNum | round(2) }} </td>
	</tr>
	<tr>
		<td class="info-null">null</td>
		<td class="info-null">null</td>
		<td>OTROS</td>
		<td>$ 0 </td>
	</tr>
	<tr>
		<td class="info-null">null</td>
		<td class="info-null">null</td>
		<td class="celda-color">TOTAL</td>
		<td class="celda-color">$ {{ payment.getTotalWithIva | round(2) }} </td>
	</tr>
</table>
	<div class="footer">
		<div class="img-qr">
			<img src="../public/{{ asset('img/Captura.png') }}" alt="" width="250" height="100">
		</div>
		<div class="description-cae">
			<ul class="footer-right">
				<li>CAE Nº:</li>
				<li>Fecha de Vencimiento de CAE:</li>
			</ul>
		</div>

	</div>
</body>
</html>