{% extends 'base.html.twig' %}

{% block breadcum %}
	<div id="breadcrumb" class="section">
		{{render(controller('App\\Controller\\StoreController::loadBreadcumStore', {category_parent_data: category_parent_data}))}}
	</div>
{% endblock %}

{% block section_container %}
	<!-- ASIDE -->
	<div id="aside" class="col-md-3">
		<!-- aside Widget -->
		<div class="aside">
			<h3 class="aside-title">Categories</h3>
			<div class="checkbox-filter">
				{% for key, itemByCategory in productsByCategory %}
					<div class="input-checkbox">
						<input type="checkbox" id="{{"category-" ~ itemByCategory['ID']}}" name="checkbox-category-aside">
						<label for="{{"category-" ~ itemByCategory['ID'] }}">
							<span></span>
							{{ itemByCategory['name'] }}
							<small> ({{ itemByCategory['COUNT_BY_PARENT'] }}) </small>
						</label>
					</div>
				{% endfor %}				
			</div>
		</div>
		<!-- /aside Widget -->

		<!-- aside Widget -->
		{# <div class="aside">
			<h3 class="aside-title">Price</h3>
			<div class="price-filter">
				<div id="price-slider"></div>
				<div class="input-number price-min">
					<input id="price-min" type="number">
					<span class="qty-up">+</span>
					<span class="qty-down">-</span>
				</div>
				<span>-</span>
				<div class="input-number price-max">
					<input id="price-max" type="number">
					<span class="qty-up">+</span>
					<span class="qty-down">-</span>
				</div>
			</div>
		</div> #}
		<!-- /aside Widget -->

		<!-- aside Widget -->
		<div class="aside">
			<h3 class="aside-title">Brand</h3>
			<div class="checkbox-filter">
				<div class="input-checkbox">
					<input type="checkbox" id="brand-1">
					<label for="brand-1">
						<span></span>
						SAMSUNG
						<small>(578)</small>
					</label>
				</div>
				<div class="input-checkbox">
					<input type="checkbox" id="brand-2">
					<label for="brand-2">
						<span></span>
						LG
						<small>(125)</small>
					</label>
				</div>
				<div class="input-checkbox">
					<input type="checkbox" id="brand-3">
					<label for="brand-3">
						<span></span>
						SONY
						<small>(755)</small>
					</label>
				</div>
				<div class="input-checkbox">
					<input type="checkbox" id="brand-4">
					<label for="brand-4">
						<span></span>
						SAMSUNG
						<small>(578)</small>
					</label>
				</div>
				<div class="input-checkbox">
					<input type="checkbox" id="brand-5">
					<label for="brand-5">
						<span></span>
						LG
						<small>(125)</small>
					</label>
				</div>
				<div class="input-checkbox">
					<input type="checkbox" id="brand-6">
					<label for="brand-6">
						<span></span>
						SONY
						<small>(755)</small>
					</label>
				</div>
			</div>
		</div>
		<!-- /aside Widget -->

		<!-- aside Widget -->
		<div class="aside">
			<h3 class="aside-title">Top selling</h3>
			<div class="product-widget">
				<div class="product-img">
					<img src={{asset("img/product01.png")}} alt="">
				</div>
				<div class="product-body">
					<p class="product-category">Category</p>
					<h3 class="product-name"><a href="#">product name goes here</a></h3>
					<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
				</div>
			</div>

			<div class="product-widget">
				<div class="product-img">
					<img src={{asset("img/product02.png")}} alt="">
				</div>
				<div class="product-body">
					<p class="product-category">Category</p>
					<h3 class="product-name"><a href="#">product name goes here</a></h3>
					<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
				</div>
			</div>

			<div class="product-widget">
				<div class="product-img">
					<img src={{asset("img/product03.png")}} alt="">
				</div>
				<div class="product-body">
					<p class="product-category">Category</p>
					<h3 class="product-name"><a href="#">product name goes here</a></h3>
					<h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
				</div>
			</div>
		</div>
		<!-- /aside Widget -->
	</div>
	<!-- /ASIDE -->

	<!-- STORE -->
	<div id="store" class="col-md-9" {# id="index-store-products" #}>
		<!-- store top filter -->
		{# <div class="store-filter clearfix">
			<div class="store-sort">
				<label>
					Sort By:
					<select class="input-select">
						<option value="0">Popular</option>
						<option value="1">Position</option>
					</select>
				</label>

				<label>
					Show:
					<select class="input-select">
						<option value="0">20</option>
						<option value="1">50</option>
					</select>
				</label>
			</div>
			<ul class="store-grid">
				<li class="active"><i class="fa fa-th"></i></li>
				<li><a href="#"><i class="fa fa-th-list"></i></a></li>
			</ul>
		</div> #}
		<!-- /store top filter -->

		<!-- store products -->
		<div class="row">
			{% set showing = 0 %}
				{% for product in products %}
					<!-- product -->
					<div class="col-md-4 col-xs-6">
						<div class="product">
							<div class="product-img">
								<img src={{asset("img/" ~ product.images[0] )}} alt="">
								<div class="product-label">
									{% if product.sales %}
										<span class="new">SALE</span>
										<span class="sale">-{{ product.sales }}</span>
									{% endif %}
									{% if product.isNew %}
										<span class="new">NEW</span>
									{% endif %}
								</div>
							</div>
							<div class="product-body">
								<p class="product-category"> {{ product.category.name }} </p>
								<h3 class="product-name"><a href="{{ path('app_product_show', {'id': product.id}) }}"> {{ product.name }} </a></h3>
								{# {{ dump(product.getSalePrice) }} #}
								{% if product.sales %}
									<h4 class="product-price">$ {{ product.getSalePrice|round(2,'floor')}} <del class="product-old-price"> $ {{ product.price|round(2,'floor') }} </del></h4>
								{% elseif product.sales == 0 %}
									<h4 class="product-price">$ {{ product.price }}</h4>
								{% endif %}

								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<div class="product-btns">
									<button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
								</div>
							</div>
							<div class="add-to-cart" id="add-to-cart">
								<button class="add-to-cart-btn" id="{{ 'btn-' ~ product.id }}"><i class="fa fa-shopping-cart"></i> add to cart</button>
							</div>
						</div>
					</div>
					<!-- /product -->
					{% set showing = showing + 1 %}
					{% endfor %}

					<div class="clearfix visible-sm visible-xs"></div>

				</div>
				<!-- /store products -->


				<!-- store bottom filter -->
				<div class="store-filter clearfix">
					<span class="store-qty">Showing {{ showing }} of {{ total_register }} products</span>
					<ul class="store-pagination">
						{% for i in 1..count_pages %}
							{% if page == i  %}
								<li class="active"> {{ i }}</li>
							{% endif %}
							{% if  page != i %}
								{% if category_id is not null %}
									<li><a href="{{path('app_product_by_category', {'id': category_id ,'page' : i})}}"> {{ i }}</a></li>
								{% else %}
									<li><a href="{{path('app_product_by_category', {'page' : i})}}"> {{ i }}</a></li>	
								{% endif %}

							{% endif %}
						{% endfor %}
						{% if category_id is not null %}
							{% if page == count_pages %}
								<li><a href="{{path('app_product_by_category', {'page' : count_pages, 'id': category_id })}}"><i class="fa fa-angle-right"></i></a></li>
							{% endif %}
							{% if page != count_pages %}
								<li><a href="{{path('app_product_by_category', {'page' : page + 1, 'id': category_id })}}"><i class="fa fa-angle-right"></i></a></li>
							{% endif %}
						{% else %}
							{% if page == count_pages %}
								<li><a href="{{path('app_product_by_category', {'page' : count_pages })}}"><i class="fa fa-angle-right"></i></a></li>
							{% endif %}
							{% if page != count_pages %}
								<li><a href="{{path('app_product_by_category', {'page' : page + 1 })}}"><i class="fa fa-angle-right"></i></a></li>
							{% endif %}	
						{% endif %}		
					</ul>
				</div>
				<!-- /store bottom filter -->
			</div>
			<!-- /STORE -->

		{% endblock %}