{% extends 'base.html.twig' %}

{% block breadcum %}
    <!-- BREADCRUMB -->
    <div id="breadcrumb" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <h3 class="breadcrumb-header">My Orders</h3>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /BREADCRUMB -->
{% endblock %}

{% block section_container %}
    {# {{ dump(orders)}} #}
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th> shipping status</th>
                <th> shipping address</th>
                <th># payment</th>
                <th># order</th>
                <th>payment data created</th>
            </tr>
        </thead>
        <tbody>
            {% for item in orders.paginator %}
                <tr class="trow">
                    <td> {{ item.getId }} </td>
                    <td> {{ item.getStatus }} </td>
                    <td> {{ item.getShippingAddress }} </td>
                    <td>  <a href="{{ path('payment', { payment_id: item.payment.getId }) }}">{{ item.payment.getId }}</a></td>
                    <td> {{ item.getOrderId }} </td>
                    <td> {{ item.getCreatedAt.format('d-m-Y h:m:s') }} </td>
                </tr>
            {% endfor %}
        </tbody>   
    </table>

    {{ include('_fragments/_pagination.html.twig', {object: orders, route_controller: 'app_my_orders', search: search}) }}
{% endblock %}