{% extends 'base.html.twig' %}
{% block breadcum %}
	<!-- BREADCRUMB -->
	<div id="breadcrumb" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12">
					<h3 class="breadcrumb-header">Payment Details - #{% if payment is defined %} {{ payment.getId }}  {% else %} #0000000000 {% endif %} </h3>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /BREADCRUMB -->
{% endblock %}
{% block section_container %}
	{% if payment is defined and payment is not null %}
	{# {{ dump(data_payment) }} #}
		{# Producto #}
		<div class="col-md-8 col-xs-4">
		{% for item in payment.getItems %}
			<!-- product -->
			<div class="row row-product-order">
				<div class="col-md-2 col-xs-2">
					<img src="{{ asset('img/' ~ item.picture_url) }}" alt="" width="100" height="100">
				</div>
				<div class="col-md-10 col-xs-10">
					<div>
						<h4><a href="javascript:void(0)"> {{ item.title }} x {{ item.quantity }}</a> </h4>  
					</div>
					<div>
						<h5>Description</h5>
						<p> {{ item.description }} </p>
					</div>
				</div>
			</div>
			<!-- /product -->
		{% endfor %}
		</div>
		{# Producto #}

		{# Detalles #}
		<div class="col-md-4 col.col-xs-4">
			<div class="box-creditcard">
				<div class="box-header">
					<h4> Details Order</h4>
				</div>
				<div class="box-content">
					<div class="box-content-in">
						<span><h5>Personal Data</h5></span>
						<ul class="list-data-payment">
							<li>
								Full Name: {{ user.person.fullName }}
							</li>
							<li>
								Identification: {{ user.person.getDni }}
							</li>
							<li>
								Email :  {{ user.getEmail  }} 
							</li>
							<li>
								Phone: {{ user.person.fullPhoneNumber }}
							</li>
							<li>
								Address: {{ user.person.fullAddress }} 
							</li>
						</ul>
					</div>
					<div class="box-content-in">
						<span><h5>Order Data</h5></span>
						<ul>
							<li>Shipping address: {{ payment.fullAddressShiping }}</li>
							<li>ZIP Code:  {{ payment.getAddress['zip_code']}} </li>
							<li>Status Order: Pennding</li>
							<li>Shipping: FREE</li>
						</ul>
					</div>
					<div class="box-content-in">
						<span><h5>Payment Data</h5></span>
						<ul>
							<li>Card Name: {{ payment.getCard.cardholder.name }}</li>
							<li>Email : {{ payment.getPayer.email }}</li>
							<li>Card Installments : {{ payment.getInstallments }}</li>
							<li>Payment Method: {{ payment.getPaymentMethodId }} </li> 
							<li>Card Last Four Digits: {{ payment.getCard.last_four_digits }}</li>
							<li>Status: {{ payment.getStatus }}</li> 
							<li>Mount: ${{ payment.getTransactionAmount }}</li> 
						</ul>
					</div>
				</div>
			</div>
		</div>
		{# Detalles #}
	{% else %}
		{# Producto #}
		<div class="col-md-8 col-xs-4">
			<!-- product -->
			<div class="row row-product-order">
				<div class="col-md-2 col-xs-2">
					<img src="/img/product02.png" alt="" width="100" height="100">
				</div>
				<div class="col-md-10 col-xs-10">
					<div>
						<h4><a href=" /product/4 "> Eaque unde. x 1</a> </h4>  
					</div>
					<div>
						<h5>Description</h5>
						<p> King; 'and don't look at it!' This speech caused a remarkable sensation among the party. Some of the ground, Alice soon began talking to him,' the Mock Turtle: 'why, if a fish came to ME, and told me you had been wandering, when a cry of 'The trial's begi </p>
					</div>
				</div>
			</div>
			<!-- /product -->
		</div>
		{# Producto #}

		{# Detalles #}
		<div class="col-md-4 col.col-xs-4">
			<div class="box-creditcard">
				<div class="box-header">
					<h4> Details Order</h4>
				</div>
				<div class="box-content">
					<div class="box-content-in">
						<span><h5>Personal Data</h5></span>
						<ul>
							<li>
								Email:   gonzalobecchio@gmail.com 
							</li>
							<li>
								Phone: 3385431980 
							</li>
							<li>
								Shipping address: Crisol 30 5B 
							</li>
						</ul>
					</div>
					<div class="box-content-in">
						<span><h5>Order Data</h5></span>
						<ul>
							<li>Shipping address: FREE</li>
							<li>Status Order: Pennding</li>
						</ul>
					</div>

					<div class="box-content-in">
						<span><h5>Payment Data</h5></span>
						<ul>
							{# <li>Installments : {{ data_payment.installments }}</li>
							<li>Payment Method </li> {{ data_payment.payment_method_id }}
							<li>Status: {{ data_payment.status }}</li> 
							<li>Mount: {{ data_payment.transaction_amount }}</li>#} 

							<li>Installments : 5 </li>
							<li>Payment Method: AMEX </li> 
							<li>Status: 0000000000</li>
							<li>Mount: $12211221</li>


						</ul>
					</div>
				</div>
			</div>
		</div>
		{# Detalles #}
	{% endif %}
	    
		
	</div>
{% endblock %}