{% apply inky_to_html|inline_css(source('@css/email_payment.css'),source('@css/style.css'),source('@css/foundation-emails.css'),source('@css/slick-theme.css'))%}
		<container class="mail-container">
			<h3>{{ user.person.getName }}, gracias  por tu compra en Tienda E!</h3>
			<p>Te enviamos este email para informarte que el pago fue  <strong class="payment-strong">APROBADO</strong>  y el detalle de tu <strong class="payment-strong">ORDEN</strong></p>

			<spacer size-sm="10" size-lg="30"></spacer>
			{% for item in payment.getItems %}
					<row class="row-item-email">
							<columns large="2">
								<row>
									<img src="{{ email.image('@img/' ~ item.picture_url) }}" alt="" width="75" height="75">
								</row>
							</columns>
							<columns large="10">
								<row>
									<h4><a href="javascript:void(0)"> {{ item.title }} x {{ item.quantity }}</a> </h4>
									<h5>Price Unit: $ {{ item.unit_price | round(2) }}</h5> 
									<h5>Description</h5>
									<p>{{ item.description }}</p>  
								</row>
							</columns>
					</row>
				{% endfor %}
			<spacer size-sm="15" size-lg="50"></spacer>
			<row>
				<columns large=12>
					<row>
						<columns class="text-center">
							<h5>Detalles de Pago</h5>
						</columns>
					</row>
					<callout class="secondary">
						<row>
							<div class="details-payment-left">
								<columns>
									<h6>Metodo de Pago:</h6>
									<h6>Ultimos 4 digitos de la tarjeta:</h6>
									<h6>Nº Pago:</h6>
									<h6>Cuota:</h6>
									<h6>Monto por Cuota:</h6>
									<h6>Sub Total:</h6>
									<h6>IVA 21%:</h6>
									<h6>Total:</h6>
								</columns>
							</div>
							<div class="details-payment-right">
								<columns class="text-right">
									<h6 class="email-details-payment">{{ payment.getPaymentMethodId | upper}} {# Metodo de Pago #}</h6>
									<h6 class="email-details-payment">{{ payment.getCard['last_four_digits'] }} {# Ultimos 4 digitos de la tarjeta #}</h6>
									<h6 class="email-details-payment"># {{ payment.getId }} {# Numero de Pago #}</h6>
									<h6 class="email-details-payment">{{ payment.getInstallments }} {# Cuotas #}</h6>
									<h6 class="email-details-payment">{{ payment.getTransactionAmount }} {# subtotal #}</h6>
									<h6 class="email-details-payment">{{ payment.getIvaNum | round(2) }} {# Cuotas #}</h6>
									<h6 class="email-details-payment">$ {{ payment.getTotalWithIva | round(2) }}  {# Total monto pagado#}</h6>
								</columns>
							</div>
						</row>
					</callout>
				</columns>
			</row>	
			<spacer size-sm="15" size-lg="50"></spacer>
			<row>
				<columns>	
					<p>Saludos, <strong>Tienda E!</strong></p>
				</columns>	
			</row>
			<row class="footer-email">
				<columns large="12">
					<div class="img-footer-email">
						<img src="{{ email.image('@img/logo.png') }}" alt="" width="100%">
					</div>
					<div class="dates-footer-email">
						<ul class="header-links pull-left">
							<li>
								<a href="">
									<i class="fa fa-map-marker">1734 Stonecoal Road</i>
								</a>
							</li>
							<li>
								<a href="">
									<i class="fa fa-map-marker">email@email.com</i>
								</a>
							</li>
							<li>
								<a href="">
									<i class="fa fa-map-marker">+021-95-51-84</i>
								</a>
							</li>
							
						</ul>
					</div>
				</columns>
			</row>
		</container>
{% endapply %}
